.single-page {
	padding-top: 5em;
}

@media( min-width: 320px ) {
	.page-header {
		h1 {
			text-align: center;
		}
	}
	.single-page-content {
		p {
			padding-left: 10px;
			padding-right: 10px;
		}
		img {
			width: 100%;
		}
	}
}