.ftr-banner {
height: 100%;
}

.footer-h2 {
	padding-top: 5px;
	padding-bottom: 5px;
	letter-spacing: 3px;

	h2 {
		color: $grey-wht;
		border-bottom: double;
		padding-bottom: 7px;
		margin-left: 10px;
		margin-right: 10px;
		letter-spacing: 10px;
	}

	p {
		color: $off-white;
	}

	h2, p {
		text-align: center;
	}

	pre {
		text-align: center;
		display: block;
		padding-top: 4em;
		padding: 0px;
		margin: 0px;
		font-size: 13px;
		line-height: 1.42857;
		word-break: break-all;
		word-wrap: break-word;
		color: $dark-grey;
		background-color: $light-grey;
		border: none; 
	}

	ul {
		list-style: none;
		text-align: center;
		padding-left: 0px;
		a {
			color: #F7F3EF;
		}
	}
}

.social-icons {
	height: 44px;
	display: inline-flex;
	margin-left: 10px;

	img {
		margin-left: 5px;
	}
}

.copyright {
	p {
		text-align: center;
		font-weight: bold;
		font-size: 15px;
		color: $black;
		margin: 0px;
		padding-bottom: 15px;
	}
}

@media ( min-width: 320px ) {
	.footer-h2 p {
		padding-left: 15px;
		padding-right: 15px;
	}

	.ftr-sec-2 {
		.col-sm-6 {
			text-align: center;
		}
	}

	.copyright {
		padding-top: 2em;
	}
}

@media ( min-width: 768px ) {
	.footer-h2 {
		padding-left: 0px;
		padding-right: 0px;
	}
}



