html, body {
	overflow-x: hidden; 
}

body {
	font-family: $primaryFont;
	font-size: 16px;
	line-height:1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
	font-family: $secondaryFont;
}

.parallax { 
	min-height: 500.08px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.affix {
      top: 0;
      width: 100%;
      z-index: 1000;
  }

  
  .affix + .container-fluid {
      padding-top: 70px;
  }

.blog-navigation {
	ul {
	display: -webkit-inline-box;
	padding: 10px;
	}

	li {
		padding-right: 5px;
		padding-left: 5px;
		list-style: none;
	}
}

.container-fluid,
.container {
	padding-left: 0px;
	padding-right: 0px;
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 100%;
	}
}

